<div class="hero-body is-align-items-stretch ">
  <div class="container is-max-desktop">
    <%= turbo_stream_from @conversation %>
    <div class="is-flex is-flex-direction-column is-justify-content-space-between">
      <%= content_tag :div, data: { 
      controller: "conversation audio-stream",
      'conversation-update-audio-path-value': update_audio_conversation_path(@conversation),
      'conversation-conversation-id-value': @conversation.id,
      'audio-stream-conversation-id-value': @conversation.id,
      'conversation-status-value': @conversation.status
      } do %>
        <%= render partial: "chat", locals: { conversation: @conversation } %>
      <% end %>
    </div>
  </div>
</div>
<div class="hero-foot">
  <div class="container is-max-desktop">
    <%= render partial: "status", locals: { conversation: @conversation } %>
  </div>
</div>
